body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:  linear-gradient(135deg, #080708, #2575fc);
  color: aliceblue;
}

header {
  background:  linear-gradient(200deg, #000000, #2575fc);
  color: white;
  padding: 20px;
  text-align: center;
}

#search {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  border: 3px solid #13aedd;
}

.card {
  background:  linear-gradient(135deg, #080908, #2575fc);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card h2 {
  margin: 0 0 10px;
}



button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background:  linear-gradient(200deg, #050505, #2575fc);
}
