body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:  linear-gradient(135deg, #080708, #2575fc);
  color: aliceblue;
}

header {
  background:  linear-gradient(200deg, #000000, #2575fc);
  color: white;
  padding: 20px;
  text-align: center;
}

#search {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  border: 3px solid #13aedd;
}

.card {
  background:  linear-gradient(135deg, #080908, #2575fc);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card h2 {
  margin: 0 0 10px;
}



button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background:  linear-gradient(200deg, #050505, #2575fc);
}


//contact form style
/* Improved Contact Form Styling */
#contact-form {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 50px auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact-form h2 {
  margin-bottom: 20px;
  color: #f7f7f7;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
}

#contact-form label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align:left;
  width: 100%;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  margin-bottom: 20px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

#contact-form textarea {
  resize: none;
  height: 100px;
}

#contact-form button {
  padding: 12px 20px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90%;
  max-width: 400px;
}

#contact-form button:hover {
  background: #45a049;
}

/* Add responsive design */
@media (max-width: 600px) {
  #contact-form {
    padding: 20px;
  }

  #contact-form input,
  #contact-form textarea,
  #contact-form button {
    font-size: 14px;
  }
}
